.hitRecomGuessLikethemeTitleContainer {
    padding: 34px 0 16px 0;
    border-bottom: 1px solid #F0F0F0;
}
.hitRecomGuessLikethemeTitle {
    line-height: 20px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.hitRecomGuessLikecatContainer {
    font-size: 14px;
    line-height: 21px;
    float: right;
    color: #a4a4a4;
    width: 42px;
    height: 21px;
    padding-left: 23px;
    background: url("../../../../assets/images/change.png") 3px 3px no-repeat;
}
.hitRecomGuessLikecatContainer:hover {
    color: #52E2C0;
    background: url("../../../../assets/images/change_hover.png") 0px 0px no-repeat;
}
.formore {
    font-size: 14px;
    line-height: 21px;
    float: right;
    color: #a4a4a4;
}
.formore:hover, .hitRecomGuessLikecatContainer:hover {
    color: #52E2C0;
}
