.vRankMvOneContainer {
    margin-left: 30px;
    width: 220px;
    height: 389px;
    text-align: left;
}
.vRankMvOneContainer a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    border-top: 1px solid #f4f4f4;
}
.vRankMvOnetitle {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: bold;
}
.vRankMvOnesubTitle {
    font-size: 12px;
    line-height: 18px;
    color: #a4a4a4;
    font-weight: bold;
    margin: 0 0 15px;
}
.statisEle img {
    width: 220px;
    height: 120px;
    display: none;
}
.statisEle p {
    height: 50px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    margin: 12px 12px 8px;
}
a.show img {
    display: block;
}
a.show p{
    color: #52E2C0;
}
